.forums {
    width: 100%;
    min-height: calc(100vh - 72px);
    background: #fbf4ee;
    padding: 34px 18px;
    display: flex; 
    justify-content: center;
}

.forums__forum-list{
    width: 40%;
    overflow-y: auto;
    max-height: 500px;
}

.forums__forum-view{
    width: 60%;
    max-height: 500px;
}
