.home {
    min-height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px 16px;
  }
  
  .home__container {
    width: 50%;
    max-width: 1000px;
  }
  

  .home__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .home__left, .home__right {
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
  } 
  
  .home__logo1 {
    width: 100%;
    max-width: 820px;
    background-color: #efefef;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-weight: bold;
    font-size: 18px;
    border-radius: 12px;
  }
  /* The big centered box */
  .home__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 820px;
    align-items: center;
    background: #ffffff;
    border: 1px solid #2c2c2c;
    padding: 32px 40px;
  }
  .home__logo2 {
    width: 120px;
    height: 120px;  
    background-color: #efefef;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    border-radius: 12px;
    margin-right: 20px;

}
  .home__heading {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 18px;
  }

  .home__actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
    margin-top: 12px;
  }

  .home__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 12px;
    width: 320px;
    height: 62px;
    border: 1px solid #2b1515;
    background: #efefef;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .home__button:hover {
    background: #e6e6e6;
  }
  